@import "tailwindcss";

@theme {
  --color-warm-cream: #FAF9F6;
  --color-deep-teal: #2D5F5D;
  --color-terracotta: #C1666B;
}

@layer base {
  * {
    font-family: "DM Sans", sans-serif;
  }

  .font-serif {
    font-family: "Crimson Pro", serif;
  }

  button:not(:disabled) {
    cursor: pointer;
  }
}
